parameters:
    level: 6
    excludePaths:
        - %rootDir%/../../../tests
        - %rootDir%/../../../bitrix
        - %rootDir%/../../../var
        - %rootDir%/../../../config
        - %rootDir%/../../../docker
        - %rootDir%/../../../vendor
        - %rootDir%/../../../*.dist
    checkGenericClassInNonGenericObjectType: false
